# Operating System files
.DS_Store
.DS_Store?
._*
Thumbs.db

# Editors & IDEs
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Environment variables & secrets
.env
.env.*
*.env
!.env.example

# Logs
*.log
logs/